@page "/bouncing_ball"


<h1>Bouncing Ball</h1>

<hr>

<table class = "environment">
    @for(var i=0; i< @e.total_of_rows(); i++){
        <tr>
            @for(var j=0; j< @e.total_of_cols(); j++){
                if(e.biounit(i,j)!=null){
                    <td class="cell" style="background-color:@e.biounit(i,j).myColor()"></td>
                }
                else
                {
                    <td class="cell dead"></td>
                }
            }
        </tr>
    }
</table>

@code {
    private Data.Environment e = new Data.Environment(40,40);
    private Data.BouncingBall b;
    private void IncrementCount()
    {
        e.next_Rabbit_Carrot_Step();
    }
}